<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Email</title>
</head>
<body>
<h2>Edit Email</h2>

<form th:action="@{/saveEmail}" method="post">
    <input type="hidden" name="emailToEdit" th:value="${emailToEdit}"/>
    <label for="editedEmail">Edited Email:</label>
    <div th:if="${mailAddressError != null}">
        <span th:text="${mailAddressError}"/>
    </div>

    <div class="form-group">
        <label for="mailAddress">Email Address:</label>
        <input type="text" name="mailAddress" class="form-control"/>
    </div>
    <button type="submit">Save</button>
</form>

<a th:href="@{/emails}">Back to Email List</a>
</body>
</html>
