<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring boot email template with Thymeleaf</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }


    </style>
</head>
<body>
<h2>Job Opportunity</h2>
<p>Dear candidate,</p>
<p>We are excited to inform you about a job opportunities</p>
<div th:each="position : ${positions}">
    <h2>Project: <span th:text="${position.projectCode}"/></h2>
    <h3>Job Details:</h3>
    <ul>
        <li><strong>Primary Role:</strong> <span th:text="${position.primaryRole}"/></li>
        <li><strong>Primary Skill:</strong> <span th:text="${position.primarySkill.primarySkill}"/></li>
        <li><p><strong>Seniority Level:</strong></p>
            <span th:each="lvl: ${position.seniorityLvl}" th:text="${lvl.seniorityLvl} + ' '"/>
        </li>
    </ul>
    <p><strong>Must Have Skills:</strong></p>
    <ul th:each="skill : ${position.skills}">
        <li th:if="${skill.isMustHave}">
            <p th:text="${skill.fullName}"/>
        </li>
    </ul>
    <p><strong>Nice to Have Skills:</strong></p>
    <ul th:each="skill : ${position.skills}">
        <li th:if="${!skill.isMustHave}">
            <p th:text="${skill.fullName}"/>
        </li>
    </ul>
    <h3>Position Details:</h3>
    <p><strong>PositionLocations:</strong></p>
    <ul>
        <p><strong>PositionLocations:</strong></p>
        <li th:each="location : ${position.positionLocations}">
            <span th:text="${location.getDisplayName()}"/>
        </li>
    </ul>
    <p><strong>Position Billing Type:</strong> <span th:text="${position.positionBillingType}"/></p>
    <p><strong>Staffing Commitment Type:</strong> <span th:text="${position.getStaffingCommitmentTypeDTO().getType()}"/></p>
    <p><strong>Domain:</strong> <span th:text="${position.domain}"/></p>
</div>

<p>If you are interested in this opportunities, please reach out to us for further details.</p>
<p>Thank you!</p>
</body>

</html>